@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;500;600&display=swap');

$bg-color: #271919;
$text-color: white;
$black: #1b1018;
$selected: #fd3879;


html{
    font-size: min(4.5vw, 18.5px);
}

*{
    font-family: "Gothic A1", sans-serif;
    font-weight: 300;
    font-style: normal !important;
    line-height: 1.65 !important;
    letter-spacing: -0.063em;

    word-break: keep-all;
    margin: 0;
    padding: 0;
}

*::selection{
    color: $selected;
}

body {
    display: flex;
    margin: 0;
    min-height: 100vh; 
    
    background: linear-gradient(
        to bottom,
        $text-color 0%,
        $text-color 55%,
        $black 100%
    );
    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

span{
    position: relative;
    top: 8px;
    left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;

    color: $text-color;
    background-color: $bg-color;
}



a{
    color: $bg-color;
}

a,a:visited{
    color: inherit;
    text-decoration: none;
}

.wrap{
    position:relative;
    width: 100vw;
    overflow: auto;
}

.node{
    position: absolute;
    white-space: nowrap;
    mix-blend-mode: difference;
}


.narration{
    width: 100%;
    margin-bottom: 8vh;
}

.speaker{
    background-color: $bg-color;
    color: $text-color;
    padding: 4px 5px 2px 5px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.note{
    background-color:$text-color;
    color: $bg-color;
    padding: 4px 5px 2px 2px;
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*
.speaker-note{
    margin-bottom: 20px;
}
 */

.back-button{
    font-family: "Gothic A1", sans-serif;
    font-weight: 200;
    font-style: normal;
    position: fixed;
    bottom: 16px;
    right:16px;
    padding: 4px 8px 1px 8px;
    border: 1px solid $bg-color;
    color: $text-color;
}


.back-button:hover{
    background-color: $text-color;
    color: $bg-color;
}

.mouse-circle{
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: difference;
}


//--------------media query, pc--------------
@media (min-width: 720px){
    .narration{
        width: 65%;
    }
}
/*
// -----------------font info-----------------

.gothic-a1-extralight {
  font-family: "Gothic A1", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.gothic-a1-light {
  font-family: "Gothic A1", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.gothic-a1-semibold {
  font-family: "Gothic A1", sans-serif;
  font-weight: 600;
  font-style: normal;
}

*/